*.txt
!requirements.txt
*.csv
*.md
*.png
*.pdf
!survey_report.pdf
*.jpg
*.pyc

dataset/
**/__pycache__/
**/tf-venv/
**/tf-venv-dlrs/
**/logs/
**/exp-result/
**/exp-figure/
**/profile-result/
**/.idea/
**/model_ckpt/
