[submodule "workload/tensorflow_cifar"]
	path = workload/tensorflow_cifar
	url = git@github.com:csruiliu/tensorflow_cifar.git
[submodule "workload/tensorflow_nlp"]
	path = workload/tensorflow_nlp
	url = git@github.com:csruiliu/tensorflow_nlp.git
